<section class="CARD">
    <div class="container card__container">
        <h1 class="main-title">Экранная клавиатура</h1>

        <div class="piece">
            <h2 class="title" id="stack">Используемые технологии:</h2>
            <ul class="list">
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
        </div>

        <div class="piece">
            <h2 class="title" id="about">О проекте:</h2>
            <p class="idea">Функционирующая клавиатура</p>
            <p>Представляет собой интерфейс клавиатуры, который может быть задействован компьютерной мышью или
                клавиатурой для написания какого-нибудь текста.</p>
        </div>

        <div class="piece">
            <h2 class="title" id="feature">Особенности:</h2>
            <ul class="list">
                <li>Возможность менять раскладку языка и регистр текста</li>
                <li>Запоминание настроек клавиатуры, которое достигается с помощью localStorage браузера</li>
            </ul>
        </div>

        <div class="piece">
            <h2 class="title" id="realization">Реализация:</h2>
            <p>Все символы отрисовываем с помощью JavaScript</p>
            <p>Далее получаем доступ к результирующему полю, куда будут выводится символы клавиатуры</p>
            <p>Вешаем обработчик на родительский элемент, который будет реагировать на нажатие мышки</p>
            <p>Для работы с клавиатурой заведомо были назначены data-atribute. Атрибут будет вычисляться при каждом
                нажатии клавиши на настоящей клавиатуре</p>
            <p>Вешаем обработчики на остальные специальные клавиши: tab, caps, shift, enter, backspace</p>

        </div>

        <div class="piece">
            <h2 class="title" id="minus">Недостатки:</h2>
            <ul class="list">
                <li>Не весь функционал реализован правильно: enter добавляет разрыв только в конце строки, а не после
                    курсора, delete также.</li>
            </ul>
        </div>
    </div>
</section>