<section class="CARD">
    <div class="container card__container">
        <h1 class="main-title">Shelter</h1>

        <div class="piece">
            <h2 class="title" id="stack">Используемые технологии:</h2>
            <ul class="list">
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
        </div>

        <div class="piece">
            <h2 class="title" id="about">О проекте:</h2>
            <p class="idea">Учебный макет RSS school.</p>
            <p>Представляет из себя двухстраничный сайт для помощи бездомным животным.</p>
        </div>

        <div class="piece">
            <h2 class="title" id="feature">Особенности:</h2>
            <ul class="list">
                <li>Адаптивность под разные устройства</li>
                <li>Реализованы два слайдера с разной логикой</li>
                <li>Реализовано бургер меню для мобильных устройств</li>
                <li>Реализован попап для элементов слайдера</li>
                <li>Верстка в большинстве своём по методологии БЭМ</li>
            </ul>
        </div>

        <div class="piece">
            <h2 class="title" id="realization">Реализация:</h2>
            <p>Первым этапом была закончена верстка обеих страниц проекта.</p>
            <p>Далее с помощью media запросов, применением относительных единиц была реализована адаптивность
                статических элементов на странице.</p>
            <p>Реализация бургер меню заключалась в удалении элемента списка, когда бургер выключен и добавление, когда
                включен соответственно.</p>
            <p>Слайдер на главной странице адаптивен. Реализация происходит через объект с ссылками на изображение, с
                помощью функции рандома выбираются первые изображения, далее при переключении
                стрелками вперед и назад постоянно формируются новые пары животных, с таким условием, что животные из
                предыдущего расклада не повторяют текущий.
            </p>
            <p>Слайдер на второй странице также адаптивен, имеет фиксированное кол-во страниц для трех поинтов: 6, 12,
                18 соответственно.
                Картинки для этих страниц формируются один раз и существуют до обновления страницы, при этом на одной
                страницы одинаковых изображений не будет.
            </p>
            <p>Попап меню реализуется соответствующую кнопку элемента, на каждом элементе при генерации задается свой
                слушатель</p>

        </div>

        <div class="piece">
            <h2 class="title" id="minus">Недостатки:</h2>
            <ul class="list">
                <li>Нагроможденная архитектура</li>
            </ul>
        </div>
    </div>
</section>