<section class="CARD">
    <div class="container card__container">
        <h1 class="main-title">Сайт портфолио</h1>

        <div class="piece">
            <h2 class="title" id="stack">Используемые технологии:</h2>
            <ul class="list">
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>Node JS</li>
                <li>Express</li>
            </ul>
        </div>

        <div class="piece">
            <h2 class="title" id="about">О проекте:</h2>
            <p class="idea">Структурированный навигатор по сделанным веб-приложениям и заметкам</p>
        </div>

        <div class="piece">
            <h2 class="title" id="feature">Особенности:</h2>
            <ul class="list">
                <li>Адаптивность под разные устройства</li>
                <li>Масштабируемость: легкость в добавлении новых каталогов и карточек</li>
                <li>Реализована навигация по странице карты с помощью боковой панели</li>
                <li>Проект реализован на TypeScript</li>
            </ul>
        </div>

        <div class="piece">
            <h2 class="title" id="realization">Реализация:</h2>
            <p>Подключаем необходимые npm пакеты, в этом случае: экспресс, экспресс-хендлбарсы, TS</p>
            <p>Определяем базовую структуру шапки страницы, тела и футера. Минимально адаптируем их (в данном случае
                преимущественно процентами и медиа-запросами)</p>
            <p>Определяем базовые роуты для перехода по каталогам. Осуществляем проверку с помощью middleware на
                существование каталога. Если проверка отработает, то сервер отдаст страницу каталога, иначе редиректит
                на страницу ошибки</p>
            <p>Определяем роуты карточек через параметры express. Снова проверяем с помощью middleware, но уже на
                существование карточки в данном каталоге. Если удачно, то сервер отдает заготовленную карточку проекта
                или заметки, иначе снова происходит редирект на страницу ошибки</p>

        </div>

        <div class="piece">
            <h2 class="title" id="minus">Недостатки:</h2>
            <ul class="list">
                <li>Нагроможденная архитектура</li>
                <li>Запутанность в каталогах внутри express-handlebars папки</li>
            </ul>
        </div>
    </div>
</section>