<section class="CARD">
    <div class="container card__container">
        <h1 class="main-title">Повторение цветов</h1>

        <div class="piece">
            <h2 class="title" id="stack">Используемые технологии:</h2>
            <ul class="list">
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
        </div>

        <div class="piece">
            <h2 class="title" id="about">О проекте:</h2>
            <p class="idea">
                Проект представляет из себя мини-игру по повторению цветов за компьютером, в случае успешного повторения
                - добавляется ещё один цвет, в ином случае - игра начинается заново.
            </p>
        </div>

        <div class="piece">
            <h2 class="title" id="realization">Реализация:</h2>
            <p>Игровое поле изначально определено и спрятано в index.html.</p>
            <p>JavaScript нужен для старта игры, подсветки игровых полей и рандомизации выбранных полей соответственно.
            </p>
            <p>Нужные цвета и цвета игрока хранятся в двух разных массивах, после каждого раунда в первый массив
                добавляется один цвет, а второй массив сбрасывается до 0 элементов.</p>
            <p>Предусмотрен механизм защиты, чтобы игрок не повторял за компьютером движения, прежде чем компьютер
                завершит генерацию всех элементов, также есть механизм защиты от случайного двойного нажатия.</p>
            <p>Игрок может выбрать сложность из трех представленных, сложность влияет на количество элементов на доске.
            </p>
        </div>

        <div class="piece">
            <h2 class="title" id="minus">Недостатки:</h2>
            <ul class="list">
                <li>Нагроможденная архитектура: отсуствие импортов, код "грязный"</li>
                <li>Невозможность закончить игру или поменять сложность без обновления страницы</li>
            </ul>
        </div>
    </div>
</section>