<section class="CARD">
    <div class="container card__container">
        <h1 class="main-title">Крестики - Нолики</h1>

        <div class="piece">
            <h2 class="title" id="stack">Используемые технологии:</h2>
            <ul class="list">
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
        </div>

        <div class="piece">
            <h2 class="title" id="about">О проекте:</h2>
            <p class="idea">Классическая игра крестики нолики.</p>
        </div>

        <div class="piece">
            <h2 class="title" id="realization">Реализация:</h2>
            <p>Игровое поле изначально определено в index.html.</p>
            <p>JavaScript реализует нажатие на поля, выставление крестика/нолика</p>
            <p>Возможные комбинации хранятся в заготовленном массиве, по которому пробегается скрипт после каждого хода,
                если хотя бы один вариант вышел удачным, то прибавляется балл одному из игроков, иначе засчитывается
                ничья и игра начинается сначала</p>
        </div>

        <div class="piece">
            <h2 class="title" id="minus">Недостатки:</h2>
            <ul class="list">
                <li>Нагроможденная архитектура: отсуствие импортов, код "грязный"</li>
                <li>Некоторые непонимания в дизайне: кто ходит в данный момент</li>
            </ul>
        </div>
    </div>
</section>