<section class="catalog">

    <div class="container catalog__container">

        <div class="card card_display card_border">

            <img src="https://avatars.mds.yandex.net/get-ydo/3925651/2a00000182efa44f060fadd607be768157e3/diploma"
                alt="" class="card__img card__img-container card__item_border">

            <div class="card__github-link card__item card__item_border">
                <a href="" class="card__link">GitHub</a>
            </div>

            <div class="card__project-link card__item card__item_border">
                <a href="" class="card__link">Project</a>
            </div>
        </div>

        <div class="card card_display card_border">

            <img src="https://avatars.mds.yandex.net/get-ydo/3925651/2a00000182efa44f060fadd607be768157e3/diploma"
                alt="" class="card__img card__img-container card__item_border">

            <div class="card__github-link card__item card__item_border">
                <a href="" class="card__link">GitHub</a>
            </div>

            <div class="card__project-link card__item card__item_border">
                <a href="" class="card__link">Project</a>
            </div>
        </div>

        <div class="card card_display card_border">

            <img src="https://avatars.mds.yandex.net/get-ydo/3925651/2a00000182efa44f060fadd607be768157e3/diploma"
                alt="" class="card__img card__img-container card__item_border">

            <div class="card__github-link card__item card__item_border">
                <a href="" class="card__link">GitHub</a>
            </div>

            <div class="card__project-link card__item card__item_border">
                <a href="" class="card__link">Project</a>
            </div>
        </div>

        <div class="card card_display card_border">

            <img src="https://avatars.mds.yandex.net/get-ydo/3925651/2a00000182efa44f060fadd607be768157e3/diploma"
                alt="" class="card__img card__img-container card__item_border">

            <div class="card__github-link card__item card__item_border">
                <a href="" class="card__link">GitHub</a>
            </div>

            <div class="card__project-link card__item card__item_border">
                <a href="" class="card__link">Project</a>
            </div>
        </div>
    </div>

</section>